<a href="https://colab.research.google.com/github/axel-sirota/introduction-to-ml-course/blob/main/Day1/Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation with Python

© Data Trainers LLC. GPL v 3.0.

Author: Axel Sirota

## Learning Objectives
*In this lesson, we will go over the following:*

- Define what Pandas is and how it relates to data science.
- Manipulate Pandas `DataFrames` and `Series`.
- Filter and sort data using Pandas.
- Manipulate `DataFrame` columns.
- Know how to handle null and missing values.

## Lesson Guide

- [What Is Pandas?](#pandas)
- [Reading Files, Selecting Columns, and Summarizing](#reading-files)
    - [Exercise 1](#exercise-one)
    
    
- [Filtering and Sorting](#filtering-and-sorting)
    - [Exercise 2](#exercise-two)
    
    
- [Renaming, Adding, and Removing Columns](#columns)
- [Handling Missing Values](#missing-values)
    - [Exercise 3](#exercise-three)
    
    
- [Split-Apply-Combine](#split-apply-combine)
    - [Exercise 4](#exercise-four)
    
    
- [Selecting Multiple Columns and Filtering Rows](#multiple-columns)
- [Joining (Merging) DataFrames](#joining-dataframes)
- [OPTIONAL: Other Commonly Used Features](#other-features)
- [OPTIONAL: Other Less Used Features of Pandas](#uncommon-features)
- [Summary](#summary)

<img src="https://www.dropbox.com/scl/fi/9hm0wy5m0yno53wzzpm6g/pandas.jpeg?rlkey=9e9lihl1z70h3hif5jekbldy3&raw=1" align="center"/>

<a id="pandas"></a>

## What Is Pandas?

- **Objective:** Define what Pandas is and how it relates to data science.

Pandas is a Python library that primarily adds two new datatypes to Python: `DataFrame` and `Series`.

- A `Series` is a sequence of items, where each item has a unique label (called an `index`).
- A `DataFrame` is a table of data. Each row has a unique label (the `row index`), and each column has a unique label (the `column index`).
- Note that each column in a `DataFrame` can be considered a `Series` (`Series` index).

> Behind the scenes, these datatypes use the NumPy ("Numerical Python") library. NumPy primarily adds the `ndarray` (n-dimensional array) datatype to Pandas. An `ndarray` is similar to a Python list — it stores ordered data. However, it differs in three respects:
> - Each element has the same datatype (typically fixed-size, e.g., a 32-bit integer).
> - Elements are stored contiguously (immediately after each other) in memory for fast retrieval.
> - The total size of an `ndarray` is fixed.

> Storing `Series` and `DataFrame` data in `ndarray`s makes Pandas faster and uses less memory than standard Python datatypes. Many libraries (such as scikit-learn) accept `ndarray`s as input rather than Pandas datatypes, so we will frequently convert between them.

## Why Pandas is so popular ?
<img src="https://www.dropbox.com/scl/fi/c4v7viow2hg1o99xmk1l1/pandas_stack.png?rlkey=i9tyyf6do9f8dhamxarfof90n&raw=1"  align="center"/>

## Using Pandas

Pandas is frequently used in data science because it offers a large set of commonly used functions, is relatively fast, and has a large community. Because many data science libraries also use NumPy to manipulate data, you can easily transfer data between libraries (as we will often do in this class!).

Pandas is a large library that typically takes a lot of practice to learn. It heavily overrides Python operators, resulting in odd-looking syntax. For example, given a `DataFrame` called `cars` which contains a column `mpg`, we might want to view all cars with mpg over 35. To do this, we might write: `cars[cars['mpg'] > 35]`. In standard Python, this would most likely give a syntax error. (**Challenge:** Using only built-in datatypes, can you define `cars` and `mpg` to make this expression valid?)

Pandas also highly favors certain patterns of use. For example, looping through a `DataFrame` row by row is highly discouraged. Instead, Pandas favors using **vectorized functions** that operate column by column. (This is because each column is stored separately as an `ndarray`, and NumPy is optimized for operating on `ndarray`s.)

Do not be discouraged if Pandas feels overwhelming. Gradually, as you use it, you will become familiar with which methods to use and the "Pandas way" of thinking about and manipulating data.

### Class Methods and Attributes

Pandas `DataFrame`s are Pandas class objects and therefore come with attributes and methods. To access these, follow the variable name with a dot. For example, given a `DataFrame` called `users`:

```
- users.index       # accesses the `index` attribute -- note there are no parentheses. attributes are not callable
- users.head()      # calls the `head` method (since there are open/closed parentheses)
- users.head(10)    # calls the `head` method with parameter `10`, indicating the first 10 rows. this is the same as:
- users.head(n=10)  # calls the `head` method, setting the named parameter `n` to have a value of `10`.
```

We know that the `head` method accepts one parameter with an optional name of `n` because it is in the documentation for that method. Let's see how to view the documentation next.

## First lets import Pandas

In [ ]:
# Load Pandas into Python
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

<a id="reading-files"></a>
### Reading Files, Selecting Columns, and Summarizing

In [ ]:
%%writefile get_data.sh
mkdir -p data
if [ ! -f data/user.tbl ]; then
  wget -O data/user.tbl https://www.dropbox.com/scl/fi/ie20ab8ekk5ondv7st9ag/user.tbl?rlkey=0y6lbz33dreu8ufusw0sc2kj7&dl=0
fi
if [ ! -f data/drinks.csv ]; then
  wget -O data/drinks.csv https://www.dropbox.com/scl/fi/tkfdy0mq30g2t424hmn5o/drinks.csv?rlkey=jl8r4aw1o7y7b5au8icub20pn&dl=0
fi

if [ ! -f data/ufo.csv ]; then
  wget -O data/ufo.csv https://www.dropbox.com/scl/fi/jfdtcoxw3iujoarrqn4uk/ufo.csv?rlkey=rc55ogsir1dpd9h6kmvecpkif&dl=0
fi

In [ ]:
!bash get_data.sh

In [ ]:
# using the read_csv method of pandas we read file
users = pd.read_csv('./data/user.tbl', sep='|')

**Examine the users data.**

In [ ]:
users               # Print the first 5 and last 5 rows.

In [ ]:
type(users)             # DataFrame

In [ ]:
# how to get the size of the dtaframe?
users.shape

In [ ]:
users.head(3)          # Print the first 3 rows.

In [ ]:
users.head(10)          # Print the first 10 rows.

In [ ]:
users.tail()            # Print the last five rows.

In [ ]:
users.tail(4)

In [ ]:
 # The row index (aka "the row labels" — in this case integers)
users.index

In [ ]:
# Column names (which is "an index")
users.columns

In [ ]:
# Datatypes of each column — each column is stored as an ndarray, which has a datatype
users.dtypes

In [ ]:
# Number of rows and columns
users.shape

In [ ]:
users.shape[1]

In [ ]:
# All values as a NumPy array
users.values

In [ ]:
# Concise summary (including memory usage) — useful to quickly see if nulls exist
users.info()

<br> **Select or index data**<br>
Pandas `DataFrame`s have structural similarities with Python-style lists and dictionaries.  
In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
# Select a column — returns a Pandas Series (essentially an ndarray with an index)
users['gender']

In [ ]:
# DataFrame columns are Pandas Series.
type(users['age'])

In [ ]:
# Select one column using the DataFrame attribute.
users.gender
# While a useful shorthand, these attributes only exist
# if the column name has no punctuations or spaces.

**Summarize (describe) the data.**<br>
Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding.

In [ ]:
# Describe all numeric columns.
users.describe()

In [ ]:
# Describe all columns, including non-numeric.
users.describe(include='all')

In [ ]:
# Describe a single column — recall that "users.gender" refers to a Series.
users.gender.describe() # users['gender'].describe()

In [ ]:
# Calculate the mean of the ages.
users.age.std()

In [ ]:
# Draw a histogram of a column (the distribution of ages).
users.age.hist(bins=5);

**Count the number of occurrences of each value.**

In [ ]:
users.gender.value_counts()

# Most useful for categorical variables

In [ ]:
# @title
# Q: How many of each zip codes do we have?

In [ ]:
users.gender.value_counts().plot(kind='bar')     # Quick plot by category

In [ ]:
# Can also be used with numeric variables
#   Try .sort_index() to sort by indices or .sort_values() to sort by counts.
# Q: What is the most common age?

In [ ]:
# Q: What is the lowest age in the dataset?

In [ ]:
users.age.value_counts().sort_index().plot(kind='bar', figsize=(16,5));     # Bigger plot by increasing age
plt.xlabel('Age');
plt.ylabel('Number of users');
plt.title('Number of users per age');

# Exercise 1
<img src="https://www.dropbox.com/scl/fi/2s9j10tmw3ps899gfajgo/hands_on.jpg?rlkey=53vsb2q2qns4weqkjb0vsvdtz&raw=1" width="100" height="100" align="right"/>

In [ ]:
# Read data/drinks.csv into a DataFrame called "drinks".
drinks =  pd.read_csv('data/drinks.csv', keep_default_na=False)

In [ ]:
# Print the head and the tail.
drinks.tail(20)

In [ ]:
# Examine the default index, datatypes, and shape.
drinks.shape

In [ ]:
# Print the beer_servings Series.
drinks['beer_servings']

In [ ]:
# Calculate the average beer_servings for the entire data set.
drinks['beer_servings'].mean()

In [ ]:
# Count the number of occurrences of each "continent" value and see if it looks correct.
drinks.continent.value_counts()

In [ ]:
drinks.info()

In [ ]:
drinks.tail(20)

<a id="filtering-and-sorting"></a>
### Filtering and Sorting

<img src="https://www.dropbox.com/scl/fi/78qve506a1lsb8uf5c0zm/panda_sort.jpg?rlkey=2car3wlz3jn2jhliv1fnkawyi&raw=1" width="300" height="300" align="right"/>



- **Objective:** Filter and sort data using Pandas.

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

In [ ]:
users['age'][0]

**Logical filtering: Only show users with age < 20.**

In [ ]:
# Create a Series of Booleans…
# In Pandas, this comparison is performed element-wise on each row of data.
young_bool = users.age < 20
young_bool

In [ ]:
sum(young_bool)

In [ ]:
# …and use that Series to filter rows.
# In Pandas, indexing a DataFrame by a Series of Booleans only selects rows that are True in the Boolean.
users[young_bool]

In [ ]:
users['boolage']=users.age < 20
users.head(5)

In [ ]:
users['custom_column'] = users.age + users.user_id

In [ ]:
users

In [ ]:
# Or, combine into a single step.
users[users.age < 20]

In [ ]:
users.columns

In [ ]:
users['is_young']=0

In [ ]:
users.head()

In [ ]:
# Important: This creates a view of the original DataFrame, not a new DataFrame.
# If you alter this view (e.g., by storing it in a variable and altering that)
# You will alter only the slice of the DataFrame and not the actual DataFrame itself
# Here, notice that Pandas gives you a SettingWithCopyWarning to alert you of this.

# It is best practice to use .loc and .iloc instead of the syntax below

users_under20 = users[users.age < 20]   # To resolve this warning, copy the `DataFrame` using `.copy()`.

In [ ]:
# Select one column from the filtered results.
users[users.age < 20].occupation

In [ ]:
# value_counts of resulting Series
users[users.age < 20].occupation.value_counts()

**Logical filtering with multiple conditions**

In [ ]:
# Ampersand for `AND` condition. (This is a "bitwise" `AND`.)
# Important: You MUST put parentheses around each expression because `&` has a higher precedence than `<`.
users[(users.age < 20) & (users.gender=='F')]

In [ ]:
# Pipe for `OR` condition. (This is a "bitwise" `OR`.)
# Important: You MUST put parentheses around each expression because `|` has a higher precedence than `<`.
users[(users.age < 20) | (users.age > 60)]

In [ ]:
# Preferred alternative to multiple `OR` conditions

# users[(users['occupation']=='doctor') | (users['occupation']=='lawyer')]
users[users.occupation.isin(['doctor', 'lawyer'])]

**Sorting**

In [ ]:
# Sort a Series.
users.age.sort_values()

In [ ]:
# Sort a DataFrame by a single column.
users.sort_values('age')

In [ ]:
# Use descending order instead.
users.sort_values('age', ascending=False)

In [ ]:
# Sort by multiple columns.
users.sort_values(['occupation', 'age'])

<a id="exercise-two"></a>
### Exercise 2

<img src="https://www.dropbox.com/scl/fi/2s9j10tmw3ps899gfajgo/hands_on.jpg?rlkey=53vsb2q2qns4weqkjb0vsvdtz&raw=1" width="100" height="100" align="right"/>

Use the `drinks.csv` or `drinks` `DataFrame` from earlier to complete the following.

In [ ]:
drinks = pd.read_csv('./data/drinks.csv')
drinks.head(2)

In [ ]:
# Filter DataFrame to only include European countries.
# Filter DataFrame to only include European countries.

In [ ]:
# Filter DataFrame to only include European countries with wine_servings > 300.

In [ ]:
# Calculate the average beer_servings for all of Europe.

In [ ]:
# Determine which 10 countries have the highest total_litres_of_pure_alcohol.

<a id="columns"></a>
### Renaming, Adding, and Removing Columns

<img src="https://www.dropbox.com/scl/fi/trspdffcs964ycbbu77n7/panda_api.jpeg?rlkey=o3q09u21kjfi5tbamnl4zmxmh&raw=1" width="300" height="300" align="right"/>

- **Objective:** Manipulate `DataFrame` columns.

In [ ]:

drinks.head()

In [ ]:
# Rename one or more columns in a single output using value mapping.
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine','spirit_servings':'spirit'})

In [ ]:
drinks.head(2)

In [ ]:
# Rename one or more columns in the original DataFrame.
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'
                       ,'spirit_servings':'spirit','total_litres_of_pure_alcohol':'liters'}, inplace=True)

In [ ]:
drinks.head(2)

**Easy Column Operations**<br>
Rather than having to reference indexes and create for loops to do column-wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each row together.

In [ ]:
# Add a new column as a function of existing columns.
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

drinks.head()

**Removing Columns**

In [ ]:
# Drop multiple columns.
drinks.drop([1,2], axis=0)

In [ ]:
drinks.head(3)

In [ ]:
# Drop on the original DataFrame rather than returning a new one.
drinks.drop(['mL', 'servings'], axis=1, inplace=True)

In [ ]:
drinks.head(3)

<a id="missing-values"></a>
### Handling Missing Values


<img src="https://www.dropbox.com/scl/fi/n6ehznug3vocwaflon3ho/panda_analysis.jpeg?rlkey=taznbre3t21y7423pkmk1ku1f&raw=1" width="300" height="300" align="right"/>

- **Objective:** Know how to handle null and missing values.

Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing — it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

> In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

> - **For the second row:** `None` will be stored in the "material" column and `np.NaN` will be stored in the "cost" column. The entire "cost" column (stored as a single `ndarray`) must be stored as floating-point values to accommodate the `np.NaN`, even though an integer `8` is in the first row.

In [ ]:
# Missing values are usually excluded in calculations by default.
drinks.continent.value_counts()              # Excludes missing values in the calculation

In [ ]:
# Includes missing values
drinks.continent.value_counts(dropna=False)

In [ ]:
# Count the missing values — sum() works because True is 1 and False is 0.
drinks.continent.isnull()

In [ ]:
# Find missing values in a Series.
# True if missing, False if not missing
drinks.continent.isnull().sum()

In [ ]:
# Only show rows where continent is not missing.
drinks[drinks.continent.isnull()]
#drinks[drinks.continent.notnull()]

**Find missing values in a `DataFrame`.**

In [ ]:
# Count the missing values in each column — remember by default, axis=0.
print((drinks.isnull().sum()))

drinks.isnull().sum().plot(kind='bar');         # visually
plt.title('Number of null values per column');

**Dropping Missing Values**

In [ ]:
drinks.shape

In [ ]:
# Drop a row if ANY values are missing from any column — can be dangerous!
drinks.dropna()

In [ ]:
# Drop a row only if ALL values are missing.
drinks.dropna(how='all')

**Filling Missing Values**<br>
You may have noticed that the continent North America (NA) does not appear in the `continent` column. Pandas read in the original data and saw "NA", thought it was a missing value, and converted it to a `NaN`, missing value.

In [ ]:
# Fill in missing values with "NA" — this is dangerous to do without manually verifying them!
drinks.continent.fillna(value='NA')

In [ ]:
# Modifies "drinks" in-place
drinks.continent.fillna(value='NA', inplace=True)

In [ ]:
sum(drinks.continent.isnull())

<a id="exercise-three"></a>
### Exercise 3


<img src="https://www.dropbox.com/scl/fi/2s9j10tmw3ps899gfajgo/hands_on.jpg?rlkey=53vsb2q2qns4weqkjb0vsvdtz&raw=1" width="100" height="100" align="right"/>

In [ ]:
# Read ufo.csv into a DataFrame called "ufo".
ufo = pd.read_csv('data/ufo.csv')

In [ ]:
ufo

In [ ]:
# Check the shape of the DataFrame.
ufo.shape

In [ ]:
# What are the three most common colors reported?
ufo['Colors Reported'].value_counts().head(3).index

In [ ]:
# Rename any columns with spaces so that they don't contain spaces.
ufo.rename(columns = {'Colors Reported': 'colors', 'Shape Reported': 'shape'}, inplace=True)

In [ ]:
# For reports in VA, what's the most common city?
ufo[ufo.State == 'VA'].City.value_counts().head(1)

In [ ]:
# Print a DataFrame containing only reports from Arlington, VA.
ufo[ ( ufo.State == 'VA' ) & ( ufo.City == 'Arlington' ) ]

In [ ]:
# Count the number of missing values in each column.
ufo.isnull().sum()

In [ ]:
# How many rows remain if you drop all rows with any missing values?
ufo.dropna().shape

<a id="split-apply-combine"></a>
### Split-Apply-Combine

<img src="./images/pandas_tool.jpg" width="300" height="300" align="right"/>

Split-apply-combine is a pattern for analyzing data. Suppose we want to find mean beer consumption per country. Then:

- **Split:** We group data by continent.
- **Apply:** For each group, we apply the `mean()` function to find the average beer consumption.
- **Combine:** We now combine the continent names with the `mean()`s to produce a summary of our findings.

In [ ]:
drinks.head(3)

In [ ]:
# For each continent, calculate the mean beer servings.
drinks.groupby('continent').beer.mean()   ## SELECT AVG(beer) from drinks groupby continent

In [ ]:
# For each continent, calculate the mean of all numeric columns.
drinks.groupby('continent').mean()

In [ ]:
# For each continent, describe beer servings.
drinks.groupby('continent').beer.describe()

In [ ]:
# For each continent, describe all numeric columns.
drinks.groupby('continent').describe().spirit['mean']

In [ ]:
# For each continent, count the number of rows.
print((drinks.continent.value_counts()))   # should be the same

<a id="exercise-four"></a>
### Exercise 4 : TAKE HOME

<img src="./images/hands_on.jpg" width="100" height="100" align="right"/>

Use the "users" `DataFrame` or "users" file in the Data folder to complete the following.

In [ ]:
users.head(2)

In [ ]:
# For each occupation in "users", count the number of occurrences.

In [ ]:
# For each occupation, calculate the mean age.

In [ ]:
# For each occupation, calculate the minimum and maximum ages.

In [ ]:
# For each combination of occupation and gender, calculate the mean age.

----

<a id="multiple-columns"></a>
## Selecting Multiple Columns and Filtering Rows

In [ ]:
ufo.head()

In [ ]:
# Or, combine into a single step (this is a Python list inside of the Python index operator!).
ufo[['City', 'State']].head()

**Use `loc` to select columns by name.**

In [ ]:
# "loc" locates the values from the first parameter (colon means "all rows"), and the column "City".
ufo.loc[3:10, 'City']

In [ ]:
# Select two columns.
ufo.loc[3:19, ['City', 'State']]

In [ ]:
# Select a range of columns — unlike Python ranges, Pandas index ranges INCLUDE the final column in the range.
ufo.loc[0:10, 'City':'State']

In [ ]:
# "loc" can also filter rows by "name" (the index).
# Row 0, all columns
ufo.loc[0, :]

In [ ]:
# Rows 0/1/2, all columns
ufo.loc[0:2, :]  # ufo.head(3)

In [ ]:
# Rows 0/1/2, range of columns
ufo.loc[0:2, 'City':'State']

In [ ]:
ufo_2 = ufo.set_index(['City', 'State'])

In [ ]:
ufo_2.loc[('Ithaca', 'NY'),:]

In [ ]:
ufo.sort_values('City').index

## Pandas CheatSheet
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

<a id="other-features"></a>
### OPTIONAL: Other Commonly Used Features

In [ ]:
# Apply an arbitrary function to each value of a Pandas column, storing the result in a new column.
users['under30'] = users.age.apply(lambda age: age < 30)
users

In [ ]:
# Apply an arbitrary function to each row of a DataFrame, storing the result in a new column.
#  (Remember that, by default, axis=0. Since we want to go row by row, we set axis=1.)
users['under30male'] = users.apply(lambda row: row.age < 30 and row.gender == 'M', axis=1)

In [ ]:
# Map existing values to a different set of values.
users['is_male'] = users.gender.map({'F':0, 'M':1})

In [ ]:
# Replace all instances of a value in a column (must match entire value).
ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
ufo

In [ ]:
# String methods are accessed via "str".
ufo.State.str.upper()                               # Converts to upper case
# checks for a substring
ufo['colors'].str.contains('RED', na='False')

In [ ]:
# Convert a string to the datetime format (this is often slow — consider doing it in the "read_csv()" method.)
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # Datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # Also allows you to do datetime "math"

In [ ]:
# Set and then remove an index.
ufo.set_index('Time', inplace=True)
ufo.reset_index(inplace=True)

In [ ]:
# Change the datatype of a column.
drinks['beer'] = drinks.beer.astype('float')

In [ ]:
# Create dummy variables for "continent" and exclude first dummy column.
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

In [ ]:
# Concatenate two DataFrames (axis=0 for rows, axis=1 for columns).
drinks = pd.concat([drinks, continent_dummies], axis=1)

<a id="uncommon-features"></a>
### OPTIONAL: Other Less-Used Features of Pandas

In [ ]:
# Detecting duplicate rows
users.duplicated()          # True if a row is identical to a previous row
users.duplicated().sum()    # Count of duplicates
users[users.duplicated()]   # Only show duplicates
users.drop_duplicates()     # Drop duplicate rows
users.age.duplicated()      # Check a single column for duplicates
users.duplicated(['age', 'gender', 'zip_code']).sum()   # Specify columns for finding duplicates

In [ ]:
# Convert a range of values into descriptive groups.
drinks['beer_level'] = 'low'    # Initially set all values to "low"
drinks.loc[drinks.beer.between(101, 200), 'beer_level'] = 'med'     # Change 101-200 to "med"
drinks.loc[drinks.beer.between(201, 400), 'beer_level'] = 'high'    # Change 201-400 to "high"

In [ ]:
# Display a cross-tabulation of two Series.
pd.crosstab(drinks.continent, drinks.beer_level)

In [ ]:
# Convert "beer_level" into the "category" datatype.
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])
drinks.sort_values('beer_level')   # Sorts by the categorical ordering (low to high)

In [ ]:
# Limit which rows are read when reading in a file — useful for large files!
pd.read_csv('./data/drinks.csv', nrows=10)           # Only read first 10 rows
pd.read_csv('./data/drinks.csv', skiprows=[1, 2])    # Skip the first two rows of data

In [ ]:
# Write a DataFrame out to a .csv
drinks.to_csv('drinks_updated.csv')                 # Index is used as first column
drinks.to_csv('drinks_updated.csv', index=False)    # Ignore index

In [ ]:
# Create a DataFrame from a dictionary.
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

In [ ]:
# Create a DataFrame from a list of lists.
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

In [ ]:
# Randomly sample a DataFrame.
import numpy as np
mask = np.random.rand(len(drinks)) < 0.66   # Create a Series of Booleans
train = drinks[mask]                        # Will contain around 66% of the rows
test = drinks[~mask]                        # Will contain the remaining rows

In [ ]:
# Change the maximum number of rows and columns printed ('None' means unlimited).
pd.options.display.max_rows = None     # Default is 60 rows
pd.options.display.max_columns = None    # Default is 20 columns
print(drinks)

In [ ]:
# Reset options to defaults.
pd.reset_option('max_rows')
pd.reset_option('max_columns')

<a id="summary"></a>
### Summary

Believe it or not, we've only barely touched the surface of everything that Pandas offers. Don't worry if you don't remember most of it — for now, just knowing what exists is key. Remember that the more you use Pandas to manipulate data, the more of these functions you will take interest in, look up, and remember.

In this notebook, the most important things to familiarize yourself with are the basics:
- Manipulating `DataFrames` and `Series`
- Filtering columns and rows
- Handling missing values
- Split-apply-combine (this one takes some practice!)